@import url('https://fonts.googleapis.com/css2?family=Forum&family=ABeeZee&family=Actor&display=swap');

:root {
    --color-background: #0A0B0A;
    --color-text: #EFE7D2;
    --color-text-secondary: rgba(245, 242, 234, 0.70);
    --color-text-author: #E1D9C6;
    --color-border: rgba(239, 231, 210, 0.15);
    --font-heading: 'Forum', serif;
    --font-body: 'Actor', sans-serif;
    --font-meta: 'ABeeZee', sans-serif;
}


body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-body);
    overflow: hidden;
}

.page-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.page-banner {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 48px;
    overflow: hidden;
}

.page-banner__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

sushi-header, user-actions {
    position: relative;
    z-index: 10;
}

.page-content {
    flex: 1;
    padding: 80px 96px;
    overflow-y: auto;
    border-left: 1px solid var(--color-border);
}


.blog-post {
    display: flex;
    flex-direction: column;
    gap: 80px;
    max-width: 650px;
    margin: 0 auto;
}


.blog-post__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
}

.post-meta {
    display: flex;
    align-items: center;
    gap: 16px;
}

.post-meta__date {
    font-family: var(--font-meta);
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.post-meta__decorator, .post-meta__decorator--bottom {
    display: inline-block;
    width: 20px;
    height: 1px;
    background-color: var(--color-border);
}

.post-meta__decorator--bottom {
    width: 60px;
}


.blog-post__title {
    font-family: var(--font-heading);
    font-size: clamp(40px, 5vw, 64px);
    line-height: 1.1;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
}

.blog-post__body {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.blog-post__section {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.blog-post__subtitle {
    font-family: var(--font-heading);
    font-size: 32px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1;
    margin: 0;
}

.blog-post__body p {
    font-size: 16px;
    line-height: 1.8;
    color: var(--color-text-secondary);
    text-align: justify;
    margin: 0;
}

.blog-post__body p + p {
    margin-top: 1em;
}

.blog-post__footer {
    padding-top: 24px;
    border-top: 1px solid var(--color-border);
}
.author-name {
    font-family: var(--font-meta);
    font-size: 14px;
    text-transform: capitalize;
    color: var(--color-text-author);
    margin: 0;
}